@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&family=Poppins:wght@500&display=swap');

html { 
    background-color: rgba(0,0, 0, 0);
}

html, body {
    overscroll-behavior: contain;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
  }

#navigation-bar {
    display: block;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
    height: max-content;
    text-align: right;
    align-items: center;
    
}
a.navigation-items {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-size: calc(15px + 0.5vw);
    font-weight: 700;
    color: black;
    background-color: white;
    border-radius: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

a.navigation-items:hover {
    transition-duration: 200ms;
    filter: invert(1);
}

#homepage {
    display: block;
    min-height: 100vh;
    width: 100%;    
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: rgb(0, 0, 0);
    user-select: none;
}

h1.homepage-title {
    font-size: calc(25px + 5vw);    
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: calc(100px + 20vh);
    text-shadow: rgb(46, 46, 46) 5px 5px;
    text-align: center;
    transition-duration: 1000ms;
    transition-timing-function:ease-out;
}

h1.homepage-title:active {
    transition-duration: 5000ms;
    transition-delay: 500ms;
    animation: fly-away 2s ease;    }

#two-description {
    display: flex;
    text-align: justify;
    text-justify: distribute;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 70vh;
}

.info {
    display: inline-block;
    width: 45vw;
    font-size: calc(10px + 1vw);
    margin-left: 50px;
    margin-right: 50px;
}

#weird-page {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    min-height: 70vh;
}

.weird-title {
    color: black;
    font-size: calc(15px + 5vw);
    padding-top: 25px;
    margin: 0px;
    position: relative;
    user-select: auto;
    display: inline-flex;
}

.weird-title-d {
    color: black;
    font-size: calc(15px + 5vw);
    padding-top: 25px;
    margin: 0px;
    position: relative;
    user-select: auto;
    display: inline-flex;
}

#weird-page:hover .weird-title-d{
    /* transform: rotate(360deg); */
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    animation: d-shake 1000ms;
}

#weird-container {
    display: flex;
}

.weird-info{
    font-size: calc(10px + 1vw);
    text-align:start;
    max-width: 100vw;
    float: right;
    z-index: 1;
}

#weird-picture {
    border: 7px solid black;
    border-radius: 100%;
    max-width: 20vw;
    max-height: 20vw;
    margin-right: 30px;
    transform: translateY(-50px);
    text-wrap: wrap;
    user-select: auto;
    color: white;
    opacity: 1;
    filter: grayscale(1);
    position: relative;
    display: flex;
    float: right;
    transition-duration: 250ms;
}

#weird-picture:hover {
filter: grayscale(0);
transition-duration: 1000ms;
}

#weird-picture:hover > h1.weird-title {
    color: yellow;
    transition-duration: 500ms;
}

#newsletter-page {
    background-color: black;
    user-select: none;
    font-family: 'Playfair Display', serif;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

#newsletter-title {
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    padding-right: 50px;
    padding-top: 25px;
    padding-left: 100px;
    font-size: 50px;
    text-align: left;
    border-bottom: 0.5px solid white;
    text-wrap: nowrap;
}

#newsletter-title:hover {
    color: rgb(143, 143, 143);
}

#newsletter-page:hover #newsletter-title{
    transition-duration: 500ms;
    padding-right: 100vw;
}

#news-wrapper {
    flex-direction: row;
    display: flex;
    
}

#news-container {
    display: flex;
    max-width: 80vw;
    text-align: left;
    flex-direction: column;
    width: max-content; 
    padding-top: 0px;
}

.related-topics-sidebar {
    display: flex;
    text-wrap: nowrap;
    font-size: 2vw;
    margin-bottom: 40px;
}

#sidebar {
    border: 1px solid white;
    right: 0%;
    width: 20vw;
    text-align: justify;
    padding-left: 10px;
    text-wrap: nowrap;
    min-height: max-content;
}


.sidebar-item {
    border-bottom:1px white solid;
    display: block;
    margin-bottom: 25px;
    text-decoration: none;
    color: white;
    text-wrap: nowrap;
}

.sidebar-item:hover {
    padding-left: 10px;
    color: red;
    transition-duration: 100ms;
}

.sidebar-picture {
    height: max-content;
    width: 20vw;
    margin-bottom: 10px;
}

#newsletter-topics {
    display: flex;
    font-size: 1.5vw;
    text-align: justify;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    }

a.newsletter-topics-nav {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);   
}

a.newsletter-topics-nav:hover {
    color: rgb(183, 37, 37);
    transition-duration: 400ms;
}

.newsletter-content {
    font-size: calc(10px + .5vw);
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.75);
    line-height: 50px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}


@keyframes fly-away {
    0%{transform: translateX(0px); }
    100% {transform: translateX(-2000px); }
}

@keyframes d-shake {
    0%{transform: translateY(0px); }
    55%{transform: translateY(-10px);}
    75%{transform: translateY(20px);}
}

@media only screen and (max-width: 1000px) {
    #two-description {
        display: block;
        text-align: center;
    }

    p.info {
        font-size: calc(15px + 1vw);
        margin-left: 10px;
        margin-right: 10px;
        min-width: 90vw;
    }

    #weird-page {
        min-height: max-content;
        padding-left: 0px;
    }

    .weird-title {
        padding-left: 10px;
        padding-right: 0px;
    }
    .weird-title-d {
        padding-left: 0px;
        padding-right: 0px;
    }

    .weird-info {
        position: relative;
        min-height: 30vh;
        text-align: justify;
        padding: 10px;
    }

    #weird-picture {
        /* position: absolute;
        right: 10%;
        border: 2px black solid;
        transform:translateY(-70px);
        height: 20vw;
        margin-left: 20px; */
        display: none;
    }

    #newsletter-title {
        padding-left: 0px;
        font-size: 10vw;
        text-align: center;
        display: block;
        padding: 0px;
    }

    a.newsletter-topics-nav {
        font-size: 2.5vw;
        padding-bottom: 10px;
        margin-left: 5px
    }

    #newsletter-topics {
        margin-left: 0px;
        margin-right: 0px ;
        padding-right: 70vw;
        text-wrap: nowrap;
    }

    .newsletter-content {
        line-height: 20px;
        text-indent: 10px;
        padding-top: 15px;
    }

    .sidebar-picture {
        display: none;
    }

    #sidebar {
        transform: translateY(25px);
        padding-left: 1px;
        height: min-content;
    }

    .sidebar-item {
        font-size: 10px;
        text-wrap: wrap;
        text-align: left;
    }
}