@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html { 
    background-color: rgb(0, 0, 0);
}

html, body {
    overscroll-behavior: contain;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
  }

#navigation-bar {
    display: block;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
    height: max-content;
    text-align: right;
    align-items: center;
    
}
a.navigation-items {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-size: calc(15px + 0.5vw);
    font-weight: 700;
    margin-left: 20px;
    color: black;
}

a.navigation-items:hover {
    transition-duration: 200ms;
    
}

#homepage {
    display: block;
    width: 100%;
    font-size: 250px;
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: black;
}

h1.homepage-title {
    font-size: calc(25px + 5vw);
    margin-top: 0px;
    margin-bottom: 0px;
    user-select: none;
    line-height: calc(100px + 20vh);
    text-shadow: rgb(46, 46, 46) 5px 5px;
    text-align: center;
}

h1.homepage-title:active {
    transition-timing-function:linear;
    transition-duration: 5000ms;
    transition-delay: 500ms;
    animation: fly-away 2s ease;
}


@keyframes fly-away {
    0%{transform: translateX(0px); }
    100% {transform: translateX(-2000px); }
}