/* GLOBAL VALUES */
/* font-family: 'League Gothic', sans-serif;
font-family: 'Passion One', sans-serif;
font-family: 'Work Sans', sans-serif; */
html {
  margin: 0 0;
  padding: 0 0;
  scroll-behavior: smooth;
  background-color: rgb(20, 20, 20);
  font-family: "Passion One", sans-serif;
}

body {
  padding: 0 0;
  margin: 0 0;
  overflow: hidden;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-flex {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  width: 100%;
  align-content: center;
}

.content-padding {
  padding: 1% 3%;
}

.project-padding {
  padding: 1% 1%;
}

.text-color {
  color: white;
  /* word-break:break-all; USE THIS FOR MOBILE TITLE */
}

/* SECTION 1 NAVIGATION BAR*/

.navigation-container {
  display: flex;
  margin: 0 auto;
  column-gap: 3%;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 2% 3%;
}

.nav-item {
  font-weight: 400;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(93, 255, 6);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 24;
}

/* SECTION 1 CONTENT */
.section-1-layout {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

.section-1 {
  background-color: rgb(20, 20, 20);
  display: flex;
  position: relative;
  width: 100%;
  height: 95vh;
  align-content: center;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  /* box-shadow: inset 0px 0px 10px 20px rgb(15, 15, 15); */
}

.content {
  width: 100%;
  position: relative;
  padding-top: 30vh;
  font-family: "Passion One", sans-serif;
  font-weight: 900;
}

.content-right {
  writing-mode: horizontal-tb;
  text-align: right;
}

.title {
  font-size: 150px;
  color: rgb(93, 255, 6);
  word-break: break-all;
}

.content-right .sub-title {
  justify-content: flex-end;
}

.sub-title {
  display: flex;
  font-size: 50px;
  font-weight: 400;
  font-weight: 400;
  font-family: "Passion One", sans-serif;
  width: 85%;
}

.contact-button {
  display: flex;
  font-size: 40px;
  padding: 1px 20px;
  font-family: "Passion One", sans-serif;
  background-color: rgb(93, 255, 6);
  border: none;
  transition-duration: 300ms;
}

.contact-button:hover {
  box-shadow: 10px 10px 0px 5px black;
  transition-duration: 300ms;
  background-color: rgb(145, 255, 86);
}

.contact-link {
  color: black;
  text-decoration: none;
}

.button {
  display: block;
  margin-top: 50px;
  justify-content: center;
}

/* DIVIDERS
.divider {
  display: flex;
  background-color: white;
  position: relative;
  max-width: 7px;
  width: 1%;
  min-width: 5px;
  height: 75vh;
  border-radius: 100px;
  align-content: center;
  margin: auto 0;
}
*/

/* SECTION 2 */
.section-2 {
  background-color: rgb(24, 24, 24);
  display: flex;
  position: relative;
  width: 25%;
  min-width: min-content;
  height: 100vh;
  flex-direction: column;
  row-gap: 20px;
  overflow: scroll;
  z-index: 2;
  border-radius: 25px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  transition-duration: 200ms;
  /* box-shadow: inset 0px 0px 10px 20px rgb(255, 7, 7); */
}

.works-header {
  position: fixed;
  position: relative;
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  color: rgb(93, 255, 6);
  padding-left: 10px;
}

.panel {
  transition-duration: 200ms;
}

.panel:hover .hidden-text {
  transition-duration: 500ms;
  animation: text-show 500ms forwards;
}

.project-border {
  border: rgb(24, 24, 24) solid 10px;
  border-radius: 25px;
  transition-duration: 250ms;
  /* padding: 5px 5px; */
  z-index: 10;
}

.project-border:focus,
.project-border:active .project-border {
  animation: focus-border 300ms linear;
  animation-fill-mode: forwards;
  border-radius: 25px;
}

.project-wrapper {
  display: flex;
  height: auto;
  width: 100%;
  background-color: rgb(0, 0, 0);
  flex-shrink: 0;
  border-radius: 20px;
  overflow: scroll;
  aspect-ratio: 16/9;
}

.embed {
  pointer-events: none;
}

.project-border:focus .embed {
  pointer-events: all;
}

@keyframes focus-border {
  0% {
    border: rgb(24, 24, 24) solid 10px;
    border-radius: 25px;
  }
  100% {
    border: white solid 10px;
    border-radius: 25px;
  }
}

.works-title {
  position: fixed;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 25px;
  color: rgb(93, 255, 6);
  padding-left: 10px;
  white-space: nowrap;
}

.works-caption {
  position: relative;
  display: flex;
  font-size: 22px;
  font-weight: 300;
  padding-left: 10px;
}

.link {
  text-decoration: underline rgb(93, 255, 6) 4px;
  color: white;
  margin: 0 auto;
  padding: 5px 5px;
  font-weight: 400;
  font-size: 20px;
}

.hidden-text {
  display: flex;
  position: relative;
  flex-direction: column;
  visibility: collapse;
  transition-duration: 500ms;
  z-index: -2;
}

@keyframes text-show {
  0% {
    opacity: 0;
    height: 1px;
    visibility: collapse;
  }

  90% {
    height: 150px;
    visibility: visible;
  }

  100% {
    visibility: visible;
    height: inherit;
  }
}
