/* GLOBAL VALUES */
/* font-family: 'League Gothic', sans-serif;
font-family: 'Passion One', sans-serif;
font-family: 'Work Sans', sans-serif; */
html {
  margin: 0 0;
  padding: 0 0;
  scroll-behavior: smooth;
  background-color: rgb(20, 20, 20);
  font-family: "Passion One", sans-serif;
}

body {
  padding: 0 0;
  margin: 0 0;
  overflow: hidden;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-flex {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  width: 100%;
  align-content: center;
}

.content-padding {
  padding: 1% 3%;
}

.project-padding {
  padding: 1% 1%;
}

.text-color {
  color: white;
  /* word-break:break-all; USE THIS FOR MOBILE TITLE */
}

/* SECTION 1 NAVIGATION BAR*/

.navigation-container {
  display: flex;
  margin: 0 auto;
  column-gap: 3%;
  position: fixed;
  align-items: center;
  width: 100%;
  padding: 0.5% 3%;
  z-index: 2;
  background-color: rgba(20, 20, 20, 0.887);
  border-radius: 50px;
}

.nav-item {
  font-weight: 400;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
}

.nav-item:hover {
  color: rgb(93, 255, 6);
}

.nav-search {
  font-weight: 400;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  align-content: center;
  overflow: none;
  cursor: default;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 24;
  display: flex;
  align-content: center;
  height: 24px;
  margin: auto auto;
  padding-right: 10px;
}

.search-bar {
  border-radius: 30px;
  height: min-content;
  font-weight: 300;
  font-size: 30px;
  border: none;
  font-family: "Passion One", sans-serif;
  margin: auto auto;
  width: 35px;
  padding-left: 10px;
  overflow: hidden;
  transition-duration: 500ms;
  color: white;
  cursor: pointer;
}

.search-bar::placeholder {
  color: white;
}

.search-bar:focus {
  outline: solid 4px rgb(93, 255, 6);
  width: 500px;
  color: black;
  cursor: text;
}

.search-bar:focus::placeholder {
  color: gray;
}

/* .search-bar:focus ~ .material-symbols-outlined {
  color: rgb(93, 255, 6);
} */

/* SECTION 1 CONTENT */
.section-1-layout {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

.section-1 {
  background-color: rgb(20, 20, 20);
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: center;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  /* box-shadow: inset 0px 0px 10px 20px rgb(15, 15, 15); */
}

.content {
  width: 100%;
  position: relative;
  padding-top: 27.5vh;
  font-family: "Passion One", sans-serif;
  font-weight: 900;
}

.content-right {
  text-align: right;
  justify-content: right;
  padding-left: 15%;
}

.title {
  font-size: 130px;
  color: rgb(93, 255, 6);
  word-break: normal;
  white-space: nowrap;
}

.content-right .sub-title {
  justify-content: right;
  width: 100%;
  text-align: right;
}

.sub-title {
  display: flex;
  font-size: 40px;
  font-weight: 400;
  font-weight: 400;
  font-family: "Passion One", sans-serif;
  width: 85%;
}

.content-right .button {
  justify-content: right;
  display: flex;
}

.button {
  display: flex;
  margin-top: 50px;
  column-gap: 10px;
}

.contact-button {
  display: flex;
  font-size: 35px;
  padding: 1px 20px;
  font-family: "Passion One", sans-serif;
  background-color: rgb(93, 255, 6);
  border: none;
  transition-duration: 300ms;
}

.token {
  display: flex;
  font-size: 35px;
  padding: 1px 20px;
  background-color: rgb(255, 255, 255);
  border: none;
  transition-duration: 300ms;
  color: black;
  font-family: "Passion One", sans-serif;
}

.contact-button:hover {
  box-shadow: 10px 10px 0px 5px black;
  transition-duration: 300ms;
  background-color: rgb(145, 255, 86);
}

.contact-link {
  color: black;
  text-decoration: none;
}

/* DIVIDERS
.divider {
  display: flex;
  background-color: white;
  position: relative;
  max-width: 7px;
  width: 1%;
  min-width: 5px;
  height: 75vh;
  border-radius: 100px;
  align-content: center;
  margin: auto 0;
}
*/
.technology {
  width: 1005;
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  height: min-content;
}

.technology .content {
  overflow: hidden;
  flex-wrap: wrap;
  position: relative;
  width: 80%;
}

.technology .title {
  word-break: break-all;
}

.tech-stack-arrow {
  width: 20%;
  padding-top: 27.5%;
}

.right-arrow {
  display: flex;
  width: 100;
  font-size: 100px;
  align-content: center;
}

.technology-stack {
  width: 100%;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 50px;
}

/* SECTION 2 */
.section-2 {
  background-color: rgb(24, 24, 24);
  display: flex;
  position: relative;
  width: 25%;
  min-width: min-content;
  height: 100vh;
  flex-direction: column;
  row-gap: 20px;
  overflow: scroll;
  z-index: 2;
  border-radius: 25px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  transition-duration: 200ms;
  /* box-shadow: inset 0px 0px 10px 20px rgb(255, 7, 7); */
}

.works-header {
  position: fixed;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  color: rgb(93, 255, 6);
  padding-left: 15px;
  padding-right: 10px;
  background-color: rgba(24, 24, 24, 0.84);
  border-radius: 25px;
}

.panel {
  transition-duration: 200ms;
}

.panel:first-of-type {
  padding-top: 15%;
}

.panel:hover .hidden-text {
  transition-duration: 500ms;
  animation: text-show 500ms forwards;
}

.project-border {
  padding: 10px 10px;
  border-radius: 25px;
  transition-duration: 250ms;
  /* padding: 5px 5px; */
  z-index: 10;
}

.project-wrapper {
  display: flex;
  height: auto;
  width: 100%;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: scroll;
  aspect-ratio: 16/9;
}

@keyframes focus-border {
  0% {
    border: rgb(24, 24, 24) solid 10px;
    border-radius: 25px;
  }
  100% {
    border: white solid 10px;
    border-radius: 25px;
  }
}

.works-title {
  position: fixed;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 25px;
  color: rgb(93, 255, 6);
  padding-left: 10px;
  white-space: nowrap;
}

.works-caption {
  position: relative;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
}

.link {
  text-decoration: underline rgb(93, 255, 6) 4px;
  color: white;
  margin: 0 auto;
  padding: 5px 5px;
  font-weight: 400;
  font-size: 20px;
}

.hidden-text {
  display: flex;
  position: relative;
  flex-direction: column;
  visibility: collapse;
  transition-duration: 500ms;
  z-index: -2;
}

@keyframes text-show {
  0% {
    opacity: 0;
    height: 1px;
    visibility: collapse;
  }

  90% {
    height: 150px;
    visibility: visible;
  }

  100% {
    visibility: visible;
    height: inherit;
  }
}

@media only screen and (max-width: 1280px) {
  /* SECTION 1 */
  /*  .section-1 {
   } */

  .title {
    word-break: break-all;
    white-space: wrap;
  }

  .section-2 {
    visibility: collapse;
  }
}
