body {
  scroll-behavior: smooth;
  margin: 2% 6%;
}

html {
  background-color: rgb(255, 147, 188);
  /* overflow: hidden; */
  font-family: "Switzer", sans-serif;
}

/* overflow-y: auto;
scroll-snap-type: y mandatory;
-ms-overflow-style: none;
scrollbar-width: none; */

.landing-page {
  display: flex;
  flex-direction: column;
}

.menu-wrapper {
  position: relative;
  display: flex;
  height: auto;
  margin: auto auto;
  width: 1250px;
  height: 900px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto auto;
}

.menu-container::-webkit-scrollbar {
  display: none;
}

.menu-option {
  position: relative;
  display: flex;
  padding: 0 20px;
  margin: 0px 0px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-size: 7rem;
  font-weight: 900;
  line-height: 5.5rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  scroll-snap-align: center;
  transition-duration: 100ms;
  justify-content: center;
}

.menu-option:focus {
  color: white;
  transition-duration: 200ms;
}

.button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sd-button {
  position: relative;
  display: block;
  height: 75px;
  width: 75px;
  cursor: pointer;
  margin: auto auto;
  color: white;
  background-color: black;
  border: none;
  border-radius: 100px;
}

.sd-button:active {
  background-color: white;
}

/* .menu-option:focus {
  height: 0px;
  overflow: hidden;
} */
