/* font-family: 'Inter', sans-serif;
font-family: 'Work Sans', sans-serif; */

html {
    font-family: 'Work Sans', sans-serif;
    /* border: 2rem rgb(224, 72, 173) solid; 
    border-radius: 5rem; */
    /* background: linear-gradient(black, purple, pink) */
}

body {
    scroll-behavior: smooth;
    margin: 0 0;
    
}


/* Navigation Bar */
#nav-wrapper {
    display: flex;
    position: relative;
    padding-top: min(1rem + 1vh);
}

.nav-container {
    position: relative;
    display: flex;
    gap: 4rem;
    flex: 1;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
    margin-left: min(20px + 1vw);
}

.nav-right {
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-items {
    font-size: min(1rem + 0.75vw);
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-style: bold;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    transition-duration: 200ms;
}

.nav-items:hover {
    border-bottom: 5px solid rgb(255, 255, 255);
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    overflow: hidden;
}

.title {
    color: rgb(255, 255, 255);
    border-bottom: none;
}

.title:hover{
    border: none;
}

.title:hover #homepage {
    transition-duration: 1000ms;
    max-height: 100px;
}

.title-color {
    color: black;
}

.consultation {
    padding: 5px 5px;
    border: solid black 5px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;   
    border-bottom-left-radius: 100px;   
    border-bottom-right-radius: 100px;  
    background-color: black;
    align-items: center;
    transition-duration: 200ms;
}

.consultation:hover{
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    color: rgb(0, 0, 0);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}


/* Section 1 */
.section-1 {
    position: relative;
    background-color: rgb(248, 103, 176);
}

#homepage {
    display: flex;
    flex: 1;
    min-height: min-content;
    margin-top: 1rem + 1vh;
    padding-bottom: calc(min(2rem + 3vh));
}

.header {
    display: flex; 
    position: relative;
    gap: 0rem;
    flex-direction: column;
    padding-top: calc(min(2rem + 10vh));
    padding-left: calc(min(5rem + 3vw));
    padding-bottom: calc(min(.25rem + 2vh));
    width: 50vw;
}

.header-title {
    font-size: min(.75rem + 2vw);
    font-weight: 800;
    font-style: bold;
    white-space: nowrap;
    margin: 0px 0px;
}

.header-text {
    font-size: min(.5rem + 1vw);
    font-weight: 800;
    font-style: bold;
    color: white;
    line-height: auto;
    white-space: wrap;
    margin: 50px 0px;
}

.header-gif {
    width: auto;
    position: relative;
    padding-top: calc(min(10rem + 10vh));
    padding-left: calc(min(5rem + 3vw));
    color: white;
    animation: wave-bob 2s linear infinite;
}


/* Border */
.custom-border {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-border svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    /* height: 320px; */
    height: calc(min(1rem + 10vh) calc(max(1rem + 20vh)));
}

.custom-border .shape-fill {
    fill: #FFFFFF;
}

@keyframes wave-bob {
    0% {transform: translateY(0px);}
    33% {transform: translateY(-5px);}
    66% {transform: translateY(5px);}
    99% {transform: translateY(0px)};
    
}

/* Section 2 */

.section-2 {
    position: relative;
    background: rgb(255, 255, 255);
    padding-bottom: 0rem;
    transition-duration: 100mss;
}

.introductions {
    display: flex;
    padding-left: calc(min(4rem + 3vw));
    width: 100%;
    transition-duration: 300ms;
}

.section-2:hover .introductions {
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    animation: d-shake 1000ms;
    animation-delay: 500ms;
}

@keyframes d-shake {
    0%{transform: translateY(0px); }
    33%{transform: translateY(-5px); color: black;}
    66%{transform: translateY(10px); color: rgb(248, 103, 176);}
    99%{transform: translateY(0px); }

}