html {
  margin: 0 0;
  scroll-behavior: smooth;
  /* font-family: 'DM Sans', sans-serif; */
  font-family: "Inter", sans-serif;
  transition-duration: 200ms;
  background-color: rgb(36, 36, 36);
}

body {
  margin: 0 0;
  animation: fadeIn 1000ms ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* Global Classes */
.accent-static {
  color: rgb(255, 137, 46);
}

.accent-back:hover {
  background-color: rgb(255, 137, 46);
  transition-duration: 200ms;
}

.accent:hover {
  color: rgb(255, 137, 46);
  transition-duration: 200ms;
}

.accent-border {
  border-color: rgb(255, 137, 46);
}

.box {
  padding: 5vh 8vw;
}

.black {
  color: white;
}

.center-text {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.scroll {
  display: inline-flex;
  align-items: center;
  writing-mode: sideways-lr;
  position: absolute;
  right: 0px;
  bottom: -15%;
  font-weight: 400;
  font-size: min(3rem, 1vw);
  width: 1px;
  color: white;
}

.section-divider {
  display: block;
  height: 0px;
  width: 70%;
  border: rgb(255, 137, 46) 5px solid;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 25vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.bob {
  animation: bob-feature 1s linear infinite;
}

@keyframes bob-feature {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}

.no-tbp {
  padding-bottom: 100px;
  padding-top: 0px;
}

/* Navigation Bar */
.nav-wrapper {
  display: flex;
  width: 100%;
}

.navigation-bar {
  position: relative;
  display: flex;
  gap: 3vw;
  font-weight: 400;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  flex: 1;
}

.navigation-name {
  color: white;
  text-decoration: none;
  text-decoration: none;
  font-size: min(4rem, 1.5vw);
  display: inline-block;
  font-weight: 600;
}

.navigation-items {
  color: white;
  font-weight: 600;
  text-decoration: none;
  text-decoration: none;
  font-size: min(4rem, 1.5vw);
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(rgb(255, 137, 46) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.navigation-items:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 4px;
}

/* Section 1 */

.section-1 {
  background-color: rgb(36, 36, 36);
  height: 50vh;
  margin-bottom: 3vh;
  display: flex;
  position: relative;
}

.section-wrapper {
  padding-top: 15vh;
  flex: 1;
  overflow: hidden;
  position: relative;
  width: min(70vw, 100%);
}

.section-image-wrapper {
  padding-top: 20vh;
  position: relative;
}

#blob {
  width: 30vh;
  height: 30vh;
  background-color: white;
  border-radius: 100%;
  margin: auto;
  transition-duration: 200ms;
}

#blob:hover {
  transform: scale(0.9);
  transition-duration: 200ms;
  background-color: rgb(255, 137, 46);
}

.title {
  font-weight: 800;
  font-size: min(5rem, 3vw);
  width: min-content;
  white-space: nowrap;
  line-height: 0px;
  margin-bottom: 3.5vh;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  color: rgb(255, 255, 255);
}

.subtitle {
  font-weight: 600;
  font-size: min(3rem, 1vw);
  line-height: 0px;
  color: rgb(221, 221, 221);
}

.subtitle-flex {
  display: flex;
  align-items: center;
  gap: 12vw;
  margin-top: 1vh;
  width: max-content;
}

.body {
  font-weight: 500;
  font-size: min(3vh, 6vh);
  color: white;
  padding-left: 10px;
  margin: 0px;
  margin-right: 30vh;
  transform: translateX(-101%);
  word-spacing: +5px;

  /* animation: body-appear, body-disappear;
  animation-duration: 3000ms, 3000ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: forwards;
  animation-delay: 2000ms, 20000ms; */
  animation: body-appear 3000ms cubic-bezier(0.39, 0.575, 0.565, 1) 2000ms 1
    forwards;
}

.body-flex {
  display: flex;
  border-left: 4px solid rgb(36, 36, 36);
  height: 0vh;
  margin-top: 5vh;
  align-items: center;
  /* animation: border-appear, border-disappear;
  animation-duration: 1500ms, 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 500ms, 22000ms; */
  animation: border-appear 1500ms ease-in 500ms 1 forwards;
}

@keyframes body-appear {
  0% {
  }

  90% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes body-disappear {
  0% {
  }

  10% {
    transform: translateX(1%);
  }

  90% {
    transform: translateX(-99%);
  }

  100% {
    transform: translateX(-101%);
  }
}

@keyframes border-appear {
  0% {
    height: 0vh;
    border-left-color: rgb(36, 36, 36);
  }

  90% {
    border-left-color: rgb(255, 255, 255);
  }

  100% {
    height: 15vh;
    border-left-color: rgb(255, 255, 255);
  }
}

@keyframes border-disappear {
  0% {
    height: 15vh;
    border-left-color: rgb(255, 255, 255);
  }

  1% {
    border-left-color: rgb(255, 255, 255);
  }

  100% {
    height: 0vh;
    border-left-color: rgb(36, 36, 36);
  }
}

/* Section 2 */
.section-2 {
  background-color: rgb(36, 36, 36);
  min-height: 100vh;
  position: relative;
  display: flex;
  padding-top: 10vh;
  justify-content: center;
}

.light-bar {
  position: absolute;
  right: 35%;
  left: 35%;
  width: 25%;
  height: 20px;
  margin: auto;
  background-color: rgb(255, 255, 234);
  border-radius: 20px;
  margin-top: 3vh;
  border-top: 15px black solid;
}

.fly {
  position: absolute;
  top: 20vh;
  right: 35%;
  left: 35%;
  max-height: 25px;
  max-width: 25px;
  display: flex;
  justify-content: center;
  animation: fly-animation 10000ms ease 0ms infinite;
  margin: auto;
}

@keyframes fly-animation {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(-156px, -70px);
  }

  40% {
    transform: translate(170px, -50px);
  }

  60% {
    transform: translate(-180px, 20px);
  }

  80% {
    transform: translate(180px, 40px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.project-wrapper {
  padding-top: 10vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-flex {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
}

.project-header {
  font-weight: 800;
  font-size: min(7rem, 4vw);
  display: block;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 0vh;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  color: rgb(255, 255, 255);
}

.project-subheader {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: min(5rem, 2vw);
  color: rgb(221, 221, 221);
  margin: 0px 0px;
  flex-wrap: wrap;
}

.project-description {
  display: flex;
  display: block;
  width: 100%;
  font-size: min(3rem, 1.5vw);
  color: white;
  font-weight: 600;
}

.text-right {
  text-align: right;
}

.img-right {
  display: flex;
  justify-content: flex-end;
}

.frame-format {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-wrapper {
  display: flex;
  width: 100%;
  transition-duration: 200ms;
}

.border-left {
  border-left: rgba(255, 137, 46, 0) 10px solid;
  transition-duration: 200ms;
}

.border-left:hover {
  border-left: rgb(255, 137, 46) 10px solid;
  transition-duration: 200ms;
}

.border-right {
  border-right: rgba(255, 137, 46, 0) 10px solid;
  transition-duration: 200ms;
}

.border-right:hover {
  border-right: rgb(255, 137, 46) 10px solid;
  transition-duration: 200ms;
}

.frame-img {
  display: flex;
  /* margin: 10px auto; */
  object-fit: contain;
  border-radius: 50px;
  padding: 0 10px;
  transition-duration: 200ms;
}

.frame-caption {
  align-items: center;
  overflow: hidden;
  font-weight: 500;
  font-size: min(3rem, 1.5vw);
  margin: 15px 10px;
  font-weight: 600;
}

.caption-items {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  background-image: linear-gradient(rgb(255, 137, 46) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.caption-items:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 3px;
}

/* Section 3 */

.section-3 {
  background-color: rgb(36, 36, 36);
  height: min-content;
  margin-top: 10vh;
  margin-bottom: 3vh;
  display: block;
  position: relative;
  text-align: center;
  justify-content: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-wrapper .title {
  width: 100%;
}

.about-text {
  margin-top: 10vh;
  font-weight: 500;
  font-size: min(3vh, 6vh);
  color: white;
  line-height: 5vh;
}
